<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5 class="mb-3">Sobre Nosotros</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
          imperdiet.
        </p>
      </div>
      <div class="col-md-4">
        <h5 class="mb-3">Enlaces Rápidos</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Inicio</a></li>
          <li><a href="#" class="text-white">Servicios</a></li>
          <li><a href="#" class="text-white">Contacto</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="mb-3">Contáctanos</h5>
        <ul class="list-unstyled">
          <li>
            <i class="fas fa-map-marker-alt"></i> Dirección, Bogotá, Colombia
          </li>
          <li><i class="fas fa-phone"></i> +1 234 567 890</li>
          <li><i class="fas fa-envelope"></i> {{ "crmagro@gmail.com" }}</li>
        </ul>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 text-center">
        <p>&copy; 2024 Tu Empresa. Todos los derechos reservados.</p>
        <div class="social-icons">
          <a href="#" class="text-white mx-2"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a href="#" class="text-white mx-2"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-white mx-2"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</footer>
